.advantages {
  max-width: @mobile-width;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 320px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 256px 256px 256px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 256px 256px 256px;
  }
}

.advantages__item {
  background-color: #eeeeee;
  min-height: 167px;

  @media (min-width: @tablet-width) {
  min-height: 256px;
  }
}

.advantages__item--1 {

  background-image: url("/img/advantages-item-1.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 4;
  }
}

.advantages__item--2 {

  background-image: url("/img/advantages-item-2.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
  }
}

.advantages__item--primary {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    padding: 36px;
  }
}

.advantages__item--secondary {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 36px;
  }
}

.advantages__item--features {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 36px;
  }
}

.advantages__icon--features {
  display: block;
  margin-bottom: 27px;
  order: -1;
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages__title--primary {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__image {
  display: block;
}

.advantages__text {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text--primary {
  color: #ffffff;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.advantages__number--primary {
  color: #ffffff;
}
