.feedback__title {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.feedback__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__text {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.feedback__description {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.feedback__label {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.feedback__input {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.feedback__input::placeholder {
  color: #000000;
}

.feedback__input-contact::placeholder {
  color: #0000004D;
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback__label-radio {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.feedback__label-checkbox {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.feedback__textarea {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #0000004D;
}

.feedback__button {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81B3D2;
  border: none;
}
