.main-footer__hashtag {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.main-footer__social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-footer__social-item {
  background-color: #81B3D2;
}



.main-footer__developer {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
