.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: @mobile-width;
  background-color: #ffffff;
  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.main-footer__hashtag {
  margin: 0;
  margin-bottom: 33px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social-links {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social-item {
  margin-right: 6px;
  background-color: #81b3d2;
}

.main-footer__social-item:last-child {
  margin-right: 0;
}

.main-footer__social-button {
  padding: 12px;
  display: block;
}

.main-footer__social-button:hover {
  background-color: #669ec0;
}

.main-footer__social-button:focus,
.main-footer__social-button:active {
  background-color: #5496bd;
  outline: none;
}

.main-footer__social-icon {
  display: block;
  fill: #ffffff;
}

.main-footer__social-button:focus .main-footer__social-icon,
.main-footer__social-button:active .main-footer__social-icon {
  fill: fade(#ffffff, 30%);
  outline: none;
}

.main-footer__developer {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.main-footer__developer:focus,
.main-footer__developer:active {
  outline: none;
}

.main-footer__developer:hover .main-footer__developer--text {
  color: #81b3d2;
}

.main-footer__developer:focus .main-footer__developer--text,
.main-footer__developer:active .main-footer__developer--text {
  color: #b3b3b3;
}

.main-footer__developer:hover .main-footer__developer--icon {
  fill: #81b3d2;
}

.main-footer__developer:focus .main-footer__developer--icon,
.main-footer__developer:active .main-footer__developer--icon {
  fill: #b3b3b3;
}
