.secondary-intro {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 158px;
  max-width: @mobile-width;
  padding-top: 52px;
  background-color: #7691a4;
  background-image: url("/img/form-intro-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    min-height: 290px;
    padding-top: 95px;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    min-height: 301px;
    padding-top: 103px;
  }
}

.secondary-intro__logo {
  align-self: center;
}

.secondary-intro__decoration {
  display: block;
  margin-top: auto;
  object-fit: cover;
  object-position: center;
  max-width: @mobile-width;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}
